.media-page {

}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-bottom {
	justify-content: flex-end;
}

.align-bottom {
	align-items: flex-end;
}

.column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.gap-025 {
	gap: 0.25rem;
}

.gap-05 {
	gap: 0.5rem;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}

.gap-4 {
	gap: 4rem;
}

.placeholder-img {
	object-fit: cover;
}

.placeholder-img.icon {
	width: 8rem;
	height: 8rem;
}

.placeholder-img.header {
	width: 16rem;
	height: 12rem;
}

label {
	font-weight: bold;
	font-size: 2rem;
}